# Dune and opam
/_build/
/_opam/

# nix
/flake.lock
/result

# WebAssembly glue code
/crates/endive-wasm/pkg/

/endive-lsp-server/lsp-ws-proxy/

/endive-playground/dist/
/packages/editor/dist/
/packages/editor2/dist/
/packages/vscode-plugin/out/
/packages/website/dist/
