html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: monospace;
  scroll-behavior: smooth;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  --menu-height: 12vh;
  --menu-width: 20vw;
  display: flex;
  flex-direction: column;
}

.top_menu {
  position: fixed;
  width: 100vw;
  height: var(--menu-height);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(45deg, #4fc0d6, #5ad64f);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
  padding-right: 4em;
  box-sizing: border-box;
  box-shadow: 0px 0px 20px grey;
  z-index: 2;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 20px;
  color: white;

  font-size: 40px;
}

.Button {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}

.Menu {
  background-color: #9bff9b;
  height: 100vh;
  position: fixed;
  width: var(--menu-width);
  padding-top: calc(var(--menu-height) + 2vh);
  box-sizing: border-box;
}

.Submenu {
  font-size: 20px;
  text-align: center;
  color: black;
  font-family: monospace;
  margin-top: 25px;
  background-color: white;
  /*border:2px solid white;*/
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
}

.Submenu:hover {
  background-color: #f2f2f2;
}

.Content {
  margin-top: var(--menu-height);
  margin-left: var(--menu-width);
  padding: 20px;
  width: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-items: stretch;
}

.BoxContent {
  font-size: 20px;
  text-align: center;
  color: black;
  width: 100%;
  flex-grow: 1;
  font-family: monospace;
  background-color: #d8ffd8;
  /*border:2px solid white;*/
  text-decoration: none;
  border-radius: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
}
