.cm-editor.cm-focused {
  outline: None;
}
.cm-content {
  font-size: 25px;
}
.cm-editor .cm-gutters {
  background-color: #ffffff;
  border-right: 0px;
}
.cm-editor .cm-gutterElement {
  font-size: 20px;
}

.cm-editor .cm-lintRange-error {
  background-image: none;
  background-color: #d3fff7;
}
.cm-editor .cm-lintPoint {
  visibility: hidden;
}
.cm-editor .cm-sideLint {
  color: #6c6c6c;
  font-style: italic;
  width: fit-content;
}
