html, body{
height:90%;
}

em{
text-decoration: underline;
font-style: normal;
}
#header {
            position: fixed;
            top: 10px;
            right: 10px;
            padding: 5px;
            cursor: pointer;
            z-index: 2;
        }

        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.2);
            
            opacity:0;
            visibility:hidden;
            display:flex;
            justify-content: center;
            align-items:center;
            z-index: 1;
    	    transition:visibility 0.3s linear,opacity 0.3s linear;
        }
        .menu-open{
        	visibility:visible;
        	opacity:1;
        }


        #main-content {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        #left-panel {
            flex: 1;
            padding: 20px;
        }

        #buttons {
            /*flex: 1;*/
            padding-left : 20px;
            padding-right : 20px;
            display: inline-flex
            text-align: center;
            background-color:#fff;
            padding-top:150px;
            height:100%;
        }

        .button {
            display: block;
            margin: 10px;
            margin-top : 20px;
            padding: 10px 20px;
            width : 200px;
            text-align: center;
            /*background-color: #888;*/
            color: #333;
            font: 20px Roboto;
            text-decoration: none;
            border-radius: 5px;
            /*font-weight: bold;*/
            transition: background-color 0.3s;
        }

        .button:hover {
            /*background-color: #555;*/
            font-weight: bold;
        }
