html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: monospace;
  background: linear-gradient(45deg, #4fc0d6, #5ad64f);
  background-size: 200% 200%;
  animation: gradientAnimation 20s ease infinite;
}
body {
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  margin: 20px;
  color: white;
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.main {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

p {
  text-align: center;
  max-width: 550px;
  font-size: 18px;
}

.Button {
  background-color: white;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  padding: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
}
