name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Use OCaml 5.1.1
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: 5.1.1
      - name: Install opam dependencies
        run: opam install . --deps-only --with-test --locked --yes
      - name: Check OCaml formatting
        run: opam exec -- dune build @fmt
      - name: Build OCaml packages
        run: opam exec -- dune build
      - name: Run OCaml tests
        run: opam exec -- dune runtest
      - name: Use latest LTS Node.js release
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install npm dependencies
        run: npm ci
      - name: Check formatting with prettier
        run: npm run format:check
      - name: Install VS Code extension dependencies
        run: npm ci
        working-directory: endive-vscode
      - name: Check VS Code extension linting
        run: npm run lint
        working-directory: endive-vscode
      - name: Compile VS Code extension
        run: npm run compile
        working-directory: endive-vscode
